{% extends "_global/index.html" %}

{% block main %}
<ul>
    {% for auction in auctionsInCategory %}
    <li class="auction">
        <a href="/auction/{{ auction.auction_id }}" class="auction-title">
            {{ auction.title|escape }}
        </a><br>

        <span class="auction-date1">{{ auction.starts_at|escape }}</span>
        <span class="auction-date2">{{ auction.ends_at|escape }}</span>
        <span class="auction-price">{{ auction.starting_price|escape }} &euro;</span>

        <a href="/auction/{{ auction.auction_id }}" class="auction-big-image">
            <img src="#" alt="velika slika - {{ auction.auction_id }}">
        </a>

        <img src="#" alt="Mala slika 1 - {{ auction.auction_id }}" class="auction-small-image image-1">
        <img src="#" alt="Mala slika 2 - {{ auction.auction_id }}" class="auction-small-image image-2">
    {% endfor %}
</ul>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}