<!DOCTYPE html>
<html>

<head>
    <title>Hammer - {% block naslov %}Pocetna{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
</head>

<body>
    <header class="site-header">
        <div class="banners">
            <a href="/" class="banner">
                <img src="/assets/img/banner-1.jpg" alt="Banner 1">
            </a>
        </div>
        <div class="social-icons">
            <a href="#"><img src="/assets/img/social/linkedin.png" alt="Linkedin"></a>
            <a href="#"><img src="/assets/img/social/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/assets/img/social/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="/assets/img/social/google-plus.png" alt="Google-plus"></a>
            <a href="#"><img src="/assets/img/social/youtube.png" alt="Youtube"></a>
        </div>
        <div class="search-box">
            <form method="POST" action="/search">
                <input type="text" name="q" placeholder="Kljucne reci pretrage">
                <button type="submit">Search</button>
            </form>
        </div>
        <nav id="main-menu">
            <ul>
                <li><a href="/">Pocetna</a>
                <li><a href="/categories">Kategorije</a>
                <li><a href="/profile">Profil</a>
                <li><a href="/contact">Kontakt</a>
                <li><a href="/log-out">Odjava</a>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="site-footer">
        &copy; Hammer Auction House 2018
    </footer>
</body>

</html>